:root {
  --rx-offset-x: -10em;
  --rx-offset-y: -2em; }

.sidebar {
  position: relative;
  opacity: 1; }
  .sidebar::before {
    opacity: 0.03;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/img/halftone-fade.jpg");
    background-color: #e8e8e8;
    background-size: contain;
    background-repeat: repeat-y;
    background-position: top right;
    background-blend-mode: darken; }
  .sidebar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/img/rx-78-2.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: right var(--rx-offset-x) bottom var(--rx-offset-y); }
  .sidebar .name {
    padding: 100px 25px 0 25px;
    text-align: right;
    font-family: "Teko", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 0.8em; }
  .sidebar nav {
    padding-right: 25px; }
    .sidebar nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .sidebar nav ul li {
        text-align: right;
        margin-bottom: 5px; }
    .sidebar nav .links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .sidebar nav .links li {
        flex-basis: 30px; }
        .sidebar nav .links li i {
          font-size: 1.5em; }

:root {
  --bg-size-x: 100%;
  --bg-size-y: 100%; }

body,
html {
  height: 100%; }

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #181818;
  background-color: #e8e8e8;
  line-height: 1.15em;
  letter-spacing: -0.05em; }
  body::before {
    opacity: 0.1;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #e8e8e8;
    background-image: url("/img/comic-book-action.png");
    background-size: var(--bg-size-x) var(--bg-size-y);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-blend-mode: darken; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 500;
  font-size: 2em;
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: 3px;
  line-height: 1em; }

h3 {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

p {
  padding-bottom: 1em;
  text-align: justify; }

a {
  word-break: keep-all;
  color: #181818;
  font-weight: 700;
  transition: color 250ms ease-out; }
  a:hover {
    color: #c12; }
  a.active, a.active:hover {
    cursor: default;
    text-decoration: none;
    color: #c12; }

small {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px; }
  small a {
    color: #777; }

ul {
  margin: 0;
  padding: 0 inherit; }

main {
  display: flex;
  flex-direction: column;
  width: 935px;
  margin-left: 0px; }
  main article {
    display: flex;
    flex-direction: row; }
    main article aside {
      border-right: 3px solid #181818; }
  main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  main .section section {
    padding: 25px 25px;
    border-right: 3px solid #181818;
    border-bottom: 3px solid #181818;
    background-color: #f0f0f0; }
    main .section section:first-child {
      border-top: 3px solid #181818;
      margin-top: 75px;
      padding-top: 25px; }
    main .section section:last-child {
      border-bottom: none; }
    main .section section .date-location {
      flex: 0 1 auto;
      text-align: right;
      color: #777;
      font-family: "Roboto", sans-serif;
      font-size: 0.8em;
      font-weight: 400;
      text-transform: uppercase; }
  main footer {
    padding: 10px 25px;
    border-top: 3px solid #181818;
    margin-bottom: 200px; }
    main footer section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    main footer h2 {
      margin: 0;
      padding: 0; }
      main footer h2 i {
        font-size: 90%; }

#effect {
  overflow: hidden;
  text-align: center;
  word-wrap: break-word;
  width: 35px;
  height: 100%;
  float: left;
  font-family: mono, serif;
  font-weight: 400;
  font-size: 10px;
  color: #777;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  pointer-events: none; }
  #effect pre {
    margin: 0;
    padding: 0; }

.uk {
  height: 1.5em;
  vertical-align: middle; }

.split-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }

.tools {
  padding-bottom: 15px; }
  .tools:nth-last-child {
    padding-bottom: 0px; }
  .tools p {
    text-align: left; }

.three-column {
  display: flex;
  flex-direction: row; }
  .three-column ul {
    width: 33%; }

.title-company {
  flex: 1 0 auto; }

.more-info {
  margin: 25px 0 25px 25px;
  font-weight: 500;
  font-size: 0.8em;
  text-align: justify; }
  .more-info li {
    letter-spacing: 0.02em; }

.gallery {
  text-align: center; }
  .gallery img {
    max-width: 200px;
    max-height: 200px;
    padding: 10px; }
