@import "vars";

:root {
    --panel-pan: 0px;
    --panel-scale: 100%;
}

main .section section {
    &.panel {
        &::after {
            z-index: -1;
            content: "";
            position: absolute;
            width: 100%;
            height: 40px;
            border-radius: 5px;
            border: var(--divider-border);
            background-color: var(--panel-background);
        }

        &:nth-child(1) {
            border-top: var(--divider-border);
            margin-right: 40px;
            padding-top: 5px;
            padding-bottom: 25px;
            transform: skew(0deg, 2deg);

            // &:hover {
            //     transform: scale(1.01) skew(0deg, 2deg);
            // }

            & > *,
            &::after {
                transform: skew(0deg, -2deg);
            }

            border-top: 0;

            &::after {
                top: -11px;
                left: -var(--divider-border-width);
                border-bottom: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &:nth-child(2), &.image {
            border-bottom: 0;
            margin-left: 75px;
            margin-right: 75px;
            transform: skew(0deg, 2deg);

            // &:hover {
            //     transform: scale(1.01) skew(0deg, 2deg);
            // }

            & > * {
                transform: skew(0deg, -2deg);
            }

            &::after {
                bottom: -15px;
                left: -var(--divider-border-width);
                transform: skew(0deg, -3deg);
                border: var(--divider-border);
                border-top: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }

        &:nth-child(3) {
            margin-top: 35px;
            margin-left: 20px;
            margin-right: 20px;
            transform: skew(0deg, 1deg);
            border-top: 0;

            // &:hover {
            //     transform: scale(1.01) skew(0deg, 1deg);
            // }

            & > * {
                transform: skew(0deg, -1deg);
            }

            &::after {
                transform: skew(0deg, -2deg);
                top: -11px;
                left: -var(--divider-border-width);
                border: var(--divider-border);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom: 0;
            }
        }

        &:last-child {
            border-left: none;
            border-bottom: 0;
            margin-left: 0;
            margin-bottom: 0;
            border-radius: 0;
            border-top-right-radius: 5px;
            &::after {
                display: none !important;
            }
        }

        &.image {
            margin-left: 40px;
            margin-right: 50px;
            transform: skew(0deg, 1deg);

            // &:hover {
            //     transform: scale(1.01) skew(0deg, 1deg);
            // }

            &::after {
                bottom: 0;
                transform: skew(0deg, 0deg);
                background: none;
            }
        }
    }
}
