@media (prefers-color-scheme: dark) {
    :root {
        --base-color: #e8e8e4;
        --base-color-light:
        --base-background: #444444;
        --panel-background: #444444;
        --thicc: 700;
        --bold: 500;
        --normal: 400;
        --light: 300;
    }
}
