main {
    footer {
        padding: 10px var(--base-margin);
        border-top: var(--divider-border);

        ul {
            @include flex(row, flex-start, flex-start);
            li {
                &:first-child {
                    list-style: none;
                }
                &:not(:first-child) {
                    margin-left: 15px;
                }
            }
        }
    }
}
