landing-page {
    width: 100%;
    article {
        main & {
            width: 100%;
            @include flex(column, center, center);
        }
        .landing {
            flex: 1 0 100%;
            width: calc(100% - 100px);
            @include flex(column, center, center);

            .panel {
                width: 100%;

                &.image {
                    max-width: 100%;
                    width: 100%;
                    height: 400px;
                }
            }
        }
    }
}
