@import "vars";
@import "mixins";
@import "sidebar";
@import "header";
@import "skills";
@import "resume";

body {
    background-color: var(--base-background-color);
    color: var(--base-color);
    font-family: var(--font-family-sans);
    font-size: var(--font-size-base);
    line-height: 1.5em;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: var(--base-margin);
}

h1 {
    margin: 0;
    margin-bottom: var(--base-margin);
    font-family: var(--font-family-header);
    font-size: var(--font-size-huge);
    line-height: 1em;
}

h2 {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-big);
    line-height: 1em;
    padding-bottom: var(--base-margin);
    border-bottom: 3px solid var(--accent-color2);
}

h3, h4 {
    margin: 0;
    line-height: 1em;
}

h3 {
    color: var(--accent-color1);
    font-family: var(--font-family-header);
    font-size: var(--font-size-medium);
    [data-theme="dark"] & {
        color: var(--base-color);
    }
}

h4 {
    margin-bottom: var(--base-margin);
    font-family: var(--font-family-condensed);
    font-size: var(--font-size-emphasize);
}

p {
    margin: 0;
    margin-bottom: var(--base-margin);
}

a {
    color: var(--accent-color1);
    text-decoration: none;

    &:hover {
        color: var(--hover-color);
    }
}

ul {
    &.no-style {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

main {
    $sidebar-width: 250px;
    @include flex(row, center, flex-start);
    height: 100%;
    article {
        flex: 1 1 auto;
        //max-width: calc(100% - #{$sidebar-width});
        position: relative;
        width: 100%;
        max-width: 500px;
        margin-right: $sidebar-width;
        padding-left: var(--base-margin);
        @include flex(column, flex-start, flex-start);
        .page {
            @include flex(column, center, center);
            min-height: 100vh;
            width: 100%;
            .panel {
                width: 100%;
            }
            &:not(:first-child) {
                padding-top: 50px;
                min-height: auto;
            }
        }
    }
    aside {
        background-color: var(--accent-color1);
        width: $sidebar-width;
        min-width: $sidebar-width;
        flex: 0 1 $sidebar-width;
        @include flex(column, center, flex-start);
        position: sticky;
        top: 0;
        height: 100vh;
    }

    .theme-switch {
        cursor: pointer;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px 15px;
        background-color: var(--accent-color1);
        z-index: 2;
    }
}

.uk {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

@import "mobile";
