@media (max-width: 767px) {
    main {
        max-width: 500px;
        margin: 0 auto;
        padding: var(--base-margin) var(--base-margin);
        article {
            @include flex(column, inherit, center);

            resume-sidebar {
                width: 100%;

                .sidebar {
                    @include flex(column, inherit, center);
                    padding: 0;
                    width: 100%;

                    .name {
                        text-align: center;
                    }

                    .career-title {
                        font-size: var(--medium-font);
                    }

                    nav {
                        margin-bottom: 0;
                    }

                    section {
                        width: 100%;
                    }
                }
            }

            .resume {
                padding: 0;
            }
        }
    }
}
