@media (max-width: 768px) {
    main {
        max-width: 500px;
        margin: 0 auto;
        padding: var(--base-margin) var(--base-margin);
        header-page {
            width: 100%;
            @include flex(column, center, center);
            header {
                padding: 0;
                @include flex(column, center, center);
                flex-direction: column;
                h1 {
                    font-size: 300%;
                    &::after {
                        top: 0;
                    }
                }
                aside {
                    flex-basis: auto;
                    margin-top: 25px;
                }
            }
        }
        article {
            @include flex(column, inherit, center);

            .sidebar {
                @include flex(column, inherit, center);
                padding: 0;
                width: 100%;

                .career-title {
                    font-size: var(--medium-font);
                }

                nav {
                    margin-bottom: 0;
                }

                section {
                    width: 100%;
                }

                .tools {
                    padding: 0 40px;
                }
            }

            .resume {
                padding: 0;

                p {
                    padding-left: var(--base-margin);
                    padding-right: var(--base-margin);
                    text-indent: 2em;
                    line-height: 1.25em;
                }
            }
        }
        .landing .panel.image {
            height: 150px;
        }
    }
}
