.portfolio {
    @include flex(row, flex-start, flex-start);
    flex-direction: row;
    flex-wrap: wrap;
    &-item {
        flex: 1 1 100%;
        margin-bottom: var(--base-margin);
        background: var(--stripe-bg);
        border-radius: var(--border-radius);
        @include flex(column, center, center);
        cursor: pointer;

        &-container {
            @include flex(row, center, center);
            flex: 1 0 auto;
            width: 100%;

        }



        &-image {
            flex: 1 1 auto;
            @include flex(column, center, center);
            border-radius: var(--border-radius) 0 0 var(--border-radius);
            padding: var(--base-margin);

            img {
                height: auto;
                width: auto;
                max-height: 250px;
                max-width: 300px;
                object-fit: contain;
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);

            }
        }

        &-description {
            flex: 0 1 50%;
            font-size: var(--font-size-normal);
            font-weight: var(--font-weight-bold);
            margin: var(--base-margin);
            line-height: 1.25em;

            p {
                margin: 10px 0;
                font-weight: var(--font-weight-normal);
            }

            li {
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-normal);
            }
        }

        &:nth-child(even) {
            .portfolio-item-container {
                flex-direction: row-reverse;
                .portfolio-item-image {
                    border-radius: 0 var(--border-radius) var(--border-radius)0 ;
                }
            }
        }

    }
}
