@import "vars";

@import "sidebar";

:root {
    --bg-size-x: 100%;
    --bg-size-y: 100%;
}

body,
html {
    height: 100%;
}

body {
    font-family: $body-font;
    font-weight: $bold;
    color: $base-color;
    background-color: $base-background;
    line-height: 1.15em;
    letter-spacing: -0.05em;

    &::before {
        opacity: 0.1;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $base-background;
        background-image: url('../img/comic-book-action.png');
        background-size: var(--bg-size-x) var(--bg-size-y);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-blend-mode: darken;
    }

}

h1, h2, h3, h4, h5, h6 {
    font-family: $sans-font;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: $light-font;
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;
    padding-bottom: 15px;
    letter-spacing: 3px;
    line-height: 1em;
}

h3 {
    font-family: $heavy-font;
    font-weight: $bold;
    text-transform: uppercase;
}

p {
    padding-bottom: 1em;
    text-align: justify;
}

a {
    word-break: keep-all;
    color: $accent-color;
    font-weight: $bold;
    transition: color 250ms ease-out;
    &:hover {
        color: $hover-color;
    }
    &.active,
    &.active:hover {
        cursor: default;
        text-decoration: none;
        color: $hover-color;
    }
}

small {
    color: $gray-color;
    font-family: "Roboto", sans-serif;
    font-weight: $normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
        color: $gray-color;
    }
}

ul {
    margin: 0;
    padding: 0 inherit;
}

main {
    display: flex;
    flex-direction: column;
    width: 935px;
    margin-left: 0px;

    article {
        display: flex;
        flex-direction: row;

        aside {
            border-right: $divider-border;
        }
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .section section {
        padding: $effect-width $effect-width;
        border-right: $divider-border;
        border-bottom: $divider-border;
        background-color: #f0f0f0;

        &:first-child {
            border-top: $divider-border;
            margin-top: 75px;
            padding-top: $effect-width;
        }

        &:last-child {
            border-bottom: none;
        }

        .date-location {
            flex: 0 1 auto;
            text-align: right;
            color: $gray-color;
            font-family: "Roboto", sans-serif;
            font-size: $small-font;
            font-weight: $light;
            text-transform: uppercase;
        }
    }

    footer {
        padding: 10px $effect-width;
        border-top: $divider-border;
        margin-bottom: 200px;

        section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        h2 {
            margin: 0;
            padding: 0;
            i {
                font-size: 90%;
            }
        }
    }
}

#effect {
    overflow: hidden;
    text-align: center;
    word-wrap: break-word;
    width: 35px;
    height: 100%;
    float: left;
    font-family: mono, serif;
    font-weight: $light;
    font-size: 10px;
    color: $gray-color;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    pointer-events: none;

    pre {
        margin: 0;
        padding: 0;
    }
}

.uk {
    height: 1.5em;
    vertical-align: middle;
}

.split-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.tools {
    padding-bottom: 15px;
    &:nth-last-child {
        padding-bottom: 0px;
    }
    p {
        text-align: left;
    }
}

.three-column {
    display: flex;
    flex-direction: row;
    ul {
        width: 33%;
    }
}

.title-company {
    flex: 1 0 auto;
}

.more-info {
    margin: $effect-width 0 $effect-width $effect-width;
    font-weight: $normal;
    font-size: $small-font;
    text-align: justify;
    li {
        letter-spacing: 0.02em;
    }
}

.gallery {
    text-align: center;
    img {
        max-width: 200px;
        max-height: 200px;
        padding: 10px;
    }
}
