body,
html {
    height: 100%;
}

body {
    font-family: var(--body-font);
    font-weight: var(--bold);
    color: var(--base-color);
    background-color: var(--panel-background);
    line-height: 1.15em;
    letter-spacing: -0.05em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--sans-font);
    margin: 0;
    padding: 0;
}

h2 {
    font-family: var(--heavy-font);
    font-weight: var(--thicc);
    font-size: var(--big-font);
    text-transform: uppercase;
    margin: var(--base-margin) 0;
    line-height: 1em;
    @include flex(row, flex-start, flex-start);
    padding-bottom: 3px;
    @include text-outline-shadow;
    @include halftone-overlay;
    transform: skewX(-10deg);
    position: relative;

    span::first-letter {
        display: block;
        font-size: 150% !important;
    }

    &::after {
        @include box-outline-shadow;
        background: none;
        width: calc(100% - 4px);
        height: 1px;
        position: absolute;
        top: 1em;
        left: 0;
    }

    .fill {
        margin-top: 6px;
        margin-left: 10px;
        flex: 1 1 auto;
        @include box-outline-shadow;
        position: relative;
        height: 0.54em;

        &::after {
            opacity: 0.8;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("../img/halftone.png");
            background-size: auto 95%;
            background-position: top 3px left 7px;
            background-blend-mode: darken;
        }
    }
}

h3 {
    font-family: var(--heavy-font);
    font-weight: var(--bold);
    text-transform: uppercase;
    font-size: 150%;
    letter-spacing: -1px;
}

h4 {
    letter-spacing: 0.05em;
}

p {
    margin: 0;
    padding-bottom: var(--base-margin);
    text-align: justify;
    text-indent: 2em;
}

a {
    word-break: keep-all;
    color: var(--accent-color);
    font-weight: var(--bold);
    transition: var(--base-transition);
    &:hover {
        color: var(--hover-color);
        text-decoration: underline;
    }
    &.active {
        cursor: default;

        color: var(--hover-color);
    }
}

b {
    font-weight: var(--thicc);
}

small {
    font-family: var(--sans-font);
    font-weight: var(--light);
    font-size: var(--small-font);
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        text-align: left;
        padding-left: 25px;
        padding-bottom: 6px;
        margin-bottom: 6px;
        position: relative;
        &::before {
            content: "\27A2";
            left: 3px;
            position: absolute;
        }
        i {
            text-align: center;
            width: 20px;
            margin-right: 5px;
        }
    }

    &.no-style {
        li {
            padding-left: 0;
            &::before {
                display: none;
            }
        }
    }
}

.uk {
    height: 1.5em;
    vertical-align: middle;
    filter: grayscale(1);
}

main {
    @include flex(column, flex-start, flex-start);
    position: relative;
    padding: var(--base-margin) 0;
    margin: 0 auto;
    max-width: 1000px;

    header {
        @include flex(row, flex-start, flex-start);
        flex: 1 0 100%;
        padding-left: var(--base-margin);
        h1 {
            @extend h2;
            font-size: 500%;
            text-align: center;
            @include halftone-overlay;
            &::after {
                z-index: -1;
                background-size: 4%;
                top: 6px;
                height: 80%;
            }
        }
    }

    article {
        @include flex(row, space-between, flex-start);
        margin: 0 auto;

        .resume {
            flex: 0 1 550px;
            padding: 0 var(--base-margin);

            .panel {
                .uk {
                    height: 1.5em;
                    vertical-align: middle;
                }

                .split-column {
                    @include flex(row, space-between, flex-start);
                }

                .experience {
                    margin-bottom: var(--base-margin);
                    border-radius: 1px;
                    @include flex(row, flex-start, flex-start);

                    &:last-child {
                        border-bottom: 0;
                    }

                    .date-location {
                        flex: 0 0 50px;
                        text-align: right;
                        font-family: var(--heavy-font);
                        font-size: var(--medium-font);
                        font-weight: var(--light);
                        text-transform: uppercase;
                        line-height: 0.8em;
                        letter-spacing: -1px;
                    }

                    .information {
                        flex: 1 1 auto;
                        border-left: var(--divider-border);
                        @include border-detail;
                        margin-left: 10px;
                        padding-left: 10px;

                        .title-company {
                            h3 {
                                font-size: var(--medium-font);
                                line-height: 0.8em;
                            }
                            h4 {
                                margin-bottom: 10px;
                            }
                        }

                        .summary {
                            margin-bottom: 10px;
                        }

                        .more-info {
                            font-size: var(--small-font);
                            .project-name {
                                margin-top: 10px;
                                font-weight: var(--bold);
                            }
                            ul {
                                margin: 0;
                                list-style: none;
                                li {
                                    font-weight: var(--normal);
                                }
                            }
                        }
                    }
                }
            }
        }

        .image {
            margin: var(--base-margin) auto;
            margin-bottom: 25px;
            background-position: left 10% top 15%;
            background-size: 110%;
            background-image: url("../img/msgorigin2.jpg");
            background-color: var(--comic-background);
            background-repeat: no-repeat;
            background-blend-mode: hard-light;
            width: 100%;
            height: 225px;
            max-width: 500px;
            @include flex(column, center, flex-start);
            transition: var(--long-transition);
            @include box-outline-shadow;
            @include halftone-overlay;
            filter: grayscale(0.75);

            &::before {
                opacity: 0.2;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-image: url("../img/comic-book-action.png");
                background-size: 100% 100%;
                background-repeat: repeat-x;
                background-position: center center;
                background-blend-mode: darken;
            }

            &::after {
                opacity: 0.2;
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 0;
            }
        }
    }


}
