resume-page {
    ul.experience-timeline {
        margin-bottom: var(--base-margin);
        @include flex(row, space-around, center);
        position: relative;

        .timeline-event {
            flex: 1 0 25%;
            max-width: 20%;
            font-size: var(--font-size-normal);
            font-weight: var(--font-weight-bold);
            border: 3px solid var(--base-color);
            border-radius: var(--border-radius);
            cursor: pointer;
            @include flex(row, center, center);
            user-select: none;
            height: 25px;
            @include transition();

            &:hover {
                color: $cultured;
                border-color: $cultured;
                background-color: #{lighten($russian-green, 15%)};
            }

            &:first-child {
                padding-right: 0;
            }

            &:last-child {
                padding-left: 0;
            }
        }

        $menu-items: 4;
        $width: (100/$menu-items) * 1%;
        $menu-items-loop-offset: $menu-items - 1;

        @for $i from 1 through $menu-items-loop-offset {
            .timeline-event:nth-child(#{$i}).is-active~.timeline-event:last-child:after {
                left: ($width*$i)-$width;
            }
        }

        .timeline-event.is-active {
            color: $cultured;
            border-color: #{lighten($russian-green, 15%)};
            background-color: var(--accent-color2);
        }

        .timeline-event:last-child.is-active {
            &:after {
                left: 100%-$width !important;
            }
        }
    }

    #experience-list {
        @include flex(row, flex-start, flex-start);
        overflow: hidden;
        scroll-behavior: smooth;

        .experience {
            padding-left: 2px;
            margin-bottom: 50px;
            min-width: 100%;

            .date-location {
                text-transform: uppercase;
                color: var(--accent-color2);
                font-weight: var(--font-weight-bold);
            }
        }
    }
}
