@import "vars";

:root {
    --rx-offset-x: -10em;
    --rx-offset-y: -2em;
}

.sidebar {
    position: relative;
    height: 100%;
    opacity: 1;
    z-index: 1;
    background-color: $panel-background;
    padding: 0 $base-margin;
    min-width: 225px;

    .panel {
        margin: $base-margin 0 $base-margin;
    }

    &::before {
        opacity: 0.1;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url("../img/halftone-fade.jpg");
        background-color: $base-background;
        background-size: 40%;
        background-repeat: repeat-y;
        background-position: top right;
        background-blend-mode: darken;
    }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: -2;
    //     background-image: url("../img/rx-78-2.png");
    //     background-color: $base-background;
    //     background-size: 90%;
    //     background-repeat: no-repeat;
    //     background-position: center bottom 10px;
    //     background-blend-mode: multiply;
    // }

    .name {
        padding-top: 50px;
        text-align: left;
        font-family: $heavy-font;
        font-weight: $bold;
        text-transform: uppercase;
        font-size: $huge-font;
        line-height: 0.8em;
        position: relative;
    }

    .career-title {
        white-space: nowrap;
        text-align: center;
        border-top: $divider-border;
        border-bottom: $divider-border;
        padding: 5px 0 2px;
        font-family: $heavy-font;
        font-size: 110%;
        text-transform: uppercase;
        letter-spacing: 0;
    }

    nav {
        margin: 25px 0 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                text-align: left;
                padding-bottom: 6px;
                margin-bottom: 6px;
                i {
                    width: 20px;
                    margin-right: 3px;
                }
            }
        }
    }

    .tools {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;

            li {
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                user-select: none;

                &:last-child {
                    margin-bottom: 10px;
                }

                &:hover {
                    .tool {
                        color: $accent-color3;
                    }
                    .skill-level {
                        .pip.filled {
                            background-color: $accent-color3;
                            &:first-child::after,
                            &:last-child::after {
                                background-color: $accent-color3;
                            }
                        }
                    }
                }

                .tool {
                    flex: 1 0 100%;
                    white-space: nowrap;
                    margin-bottom: 5px;
                    transition: $base-transition;
                }
                .skill-level {
                    flex: 1 0 100%;
                    padding: 0 3px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .pip,
                    .pip::after {
                        transform: skewX(-30deg);
                        width: 8.5%;
                        height: 5px;
                        background-color: $base-color-lighter;
                        transition: $base-transition;
                    }

                    .pip {
                        z-index: 1;
                        position: relative;
                        &.filled {
                            background-color: $base-color;

                            &:first-child::after,
                            &:last-child::after {
                                background-color: $base-color;
                            }
                        }
                        &:first-child::after,
                        &:last-child::after {
                            content: "";
                            width: 14px;
                            z-index: 2;
                            position: absolute;
                            left: -3px;
                            background-color: $base-color-lighter;
                            transform: skewX(30deg);
                        }

                        $pip-border-radius: 5px;

                        &:first-child, &:first-child::after {
                            border-top-left-radius: $pip-border-radius;
                            border-bottom-left-radius: $pip-border-radius;
                        }

                        &:last-child, &:last-child::after {
                            border-top-right-radius: $pip-border-radius;
                            border-bottom-right-radius: $pip-border-radius;
                        }

                        &:last-child::after {
                            right: -3px;
                            left: initial;
                        }
                    }
                }
            }
        }
        .tool {
        }
    }
}
