@import "vars";

:root {
    --rx-offset-x: -10em;
    --rx-offset-y: -2em;
}

.sidebar {
    position: relative;
    height: 100%;
    opacity: 1;
    z-index: 1;
    background-color: $panel-background;

    h2 {
        font-size: 1.5em;
        border-bottom: $divider-border;
        padding-bottom: 7px;
        margin-bottom: 10px;
        .fill {
            //margin-top: -4px;
            height: 0.4em;
        }
    }

    .panel {
        margin: $base-margin;
    }

    &::before {
        opacity: 0.2;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url("../img/halftone-fade.jpg");
        background-color: $base-background;
        background-size: 40%;
        background-repeat: repeat-y;
        background-position: top right;
        background-blend-mode: darken;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-image: url("../img/rx-78-2.png");
        background-color: $base-background;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center bottom 10px;
        background-blend-mode: multiply;
    }

    .name {
        padding: 50px $base-margin 10px $base-margin;
        text-align: left;
        font-family: $heavy-font;
        font-weight: $bold;
        text-transform: uppercase;
        font-size: $huge-font;
        line-height: 0.8em;
        transition: all 500ms ease-out;
        position: relative;
        $offset: 0;
        text-shadow: #{$offset + 1}px #{$offset + 1}px 0 $accent-color2;

        // &:hover {
        //     margin: -2px 2px 2px -2px;
        //     text-shadow: #{$offset + 1}px #{$offset + 1}px 0 $accent-color2,
        //         #{$offset * 2+4}px #{$offset * 2+4}px 0 $accent-color1;
        //     //#{$offset*3+6}px #{$offset*3+6}px 0 $accent-color3;
        // }
    }

    nav {
        margin: 20px $base-margin 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                text-align: left;
                padding-bottom: 6px;
                margin-bottom: 6px;
                a {
                    text-decoration: none;

                }
                i {
                    width: 20px;
                }
            }
        }

        .links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            li {
                flex-basis: 30px;
                i {
                    font-size: 1.5em;
                }
            }
        }
    }
}
