$base-color: #181818;
$accent-color: $base-color;
$accent-color1: #35b;
$accent-color2: #fc3;
$accent-color3: #c12;
$gray-color: #777;

$hover-color: $accent-color3;

$base-background: #e8e8e8;

$bold: 700;
$normal: 500;
$light: 400;

$effect-width: 25px;
$effect-bg: #555;

$drop-shadow-color: #000;
$drop-shadow: 0 2px 3px $drop-shadow-color;

$border-radius: 10px;
$divider-border: 3px solid $base-color;

$base-font: 1em;
$small-font: 0.8em;
$serif-font: "Roboto Slab", serif;
$sans-font: "Roboto", sans-serif;
$heavy-font: "Teko", sans-serif;
$light-font: "Open Sans Condensed", sans-serif;

$body-font: 'Work Sans', sans-serif;
