/*
  * Alex Johnson - resume.less
  * 8/4/2016
  */

@accent-color: #37c;
@gray-color: #aaa;

@bold: 700;
@normal: 400;
@light: 300;

@effect-width: 35px;
@effect-bg: #555;

body, html {

    height: 100%;
}

body, html, ul, li, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

body {
    display: none;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: @normal;
    background-color: @gray-color;
}

main {
    background-color: #fff;
    max-width: 935px;
    margin: @effect-width auto;
    border-left: 35px solid @effect-bg;
    box-shadow: @effect-bg 0px 0px 15px;
    border-radius: 3px;
    @media (max-width: 935px) {
        margin: @effect-width 15px;
    }
    @media (max-width: 450px) {
        border-left: 0px;
        margin: 0;
    }
}

ul {
    padding-left: 50px;
    @media (max-width: 450px) {
        padding-left: 25px;
    }
}

h1 {
    font-weight: @light;
    color: @gray-color;
    text-transform: uppercase;
    font-family: 'Roboto', serif;

}

h2 {
    font-weight: @normal;
    font-family: 'Roboto', serif;
}

p {
    padding-bottom: 1em;
    text-align: justify;
}

a {
    color: @accent-color;
    text-decoration: none;
    font-weight: @bold;
    &:hover {
        text-decoration: underline;
    }
    &.active, &.active:hover {
        cursor: default;
        text-decoration: none;
        color: #000;
    }
}

b {
    font-weight: @normal;
    color: @accent-color;
}

small {
    color: @gray-color;
    font-family: 'Roboto', sans-serif;
    a {
        font-weight: @normal;
        color: @gray-color;
    }
}

.header-content, .body-content, .footer-content {
    line-height: 1.75;
    margin: 0px auto;
    font-weight: @light;
}

.header-content {
    padding-top: @effect-width;
}

.cover {
    display: none;
}

.prequels {
    display: none;
}

.links {
    display: flex;
    flex-direction: row;
    a, a:hover, a:visited {
        color: @accent-color;
        font-size: 1em;
        text-align: center;
        flex-grow: 1;
    }

}

section {
    border-top: 1px solid #ddd;
    margin: 0px @effect-width;
    padding-bottom: @effect-width;
    @media (max-width: 450px) {
        margin: 0px 15px;
    }
}

#effect {
    margin-left: -@effect-width;
    overflow: hidden;
    text-align: center;
    word-wrap: break-word;
    width: 35px;
    height: 100%;
    float: left;
    font-family: mono, serif;
    font-weight: @light;
    font-size: 10px;
    color: @gray-color;
    line-height: 1;
    @media (max-width: 450px) {
        display: none;
    }
}

.name {
    text-align: center;
    letter-spacing: -4px;
    width: 100%;
    font-weight: @bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px @gray-color;
    font-size: 90px;
    line-height: 1em;
    @media (max-width: 450px) {
        font-size: 2.5em;
        letter-spacing: normal;
    }
}

.subtext {
    text-align: center;
}

.description {
    text-align: center;
}

.uk {
    height: 1.5em;
    vertical-align: middle;
}

.split-column {
    display: flex;
    flex-direction: row;
    @media (max-width: 450px) {
        display: block;
    }
}

.projects {
    padding: 0px 50px;
    @media (max-width: 450px) {
        padding: 0px 15px;
    }
}

.title-company {
    flex: 1;
}

.date-location {
    flex: 1;
    text-align: right;
    color: @gray-color;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    @media (max-width: 450px) {
        text-align: left;
    }
}

.experience {
    padding-bottom: 10px;
}

.fun {
    h2 {
        text-align: center;
    }
}
