@import '../mixins.scss';

sidebar-element aside {
    color: var(--white-text);

    .open-menu {
        width: 80%;
        margin-top: var(--base-margin);
        @include flex(column, center, center);
        display: none;
        font-size: 30px;
        border-right: 5px solid var(--white-text);
        position: absolute;
        top: 0;
    }

    .me {
        @include flex(column, center, center);
        width: 100%;

        h2 {
            font-size: var(--font-size-medium);
            padding-bottom: 0;
            border-bottom: 0;
        }

        .portrait {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: var(--base-margin);
            box-shadow: var(--box-shadow);
        }
    }

    ul {

        &.summary,
        &.navigation {
            margin: 0 0 var(--base-margin) var(--base-margin);
        }

        li {
            white-space: nowrap;
            @include flex(row, flex-start, center);
            margin-bottom: 10px;

            i {
                vertical-align: middle;
                font-size: var(--font-size-medium);
                margin-right: 10px;
            }
        }

        &.summary {
            a {
                color: var(--white-text);

                i {
                    width: 25px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &.navigation {
            padding-left: var(--base-margin);
            border-left: 5px solid rgba(255,255,255,0.2);
            position: relative;
            z-index: 0;

            .nav-item {
                cursor: pointer;
                height: 30px;
                margin: 0;

                &:hover {
                    text-decoration: underline;
                }
            }

            $menu-items: 6;
            $height: (100/$menu-items) * 1%;
            $menu-items-loop-offset: $menu-items - 1;

            .nav-item:last-child::after {
                content: '';
                pointer-events: none;
                @include transition(50ms);
                background: var(--white-text);
                display: block;
                position: absolute;
                top: 0;
                left: -5px;
                height: #{(100/$menu-items) * 1%};
                width: 5px;
            }

            @for $i from 1 through $menu-items-loop-offset {
                .nav-item:nth-child(#{$i}).is-active~.nav-item:last-child::after {
                    top: ($height*$i)-$height;
                }
            }

            .nav-item:last-child.is-active {
                &:after {
                    top: 100%-$height !important;
                }
            }
        }

        &.paginator {
            @include flex(column, flex-end, center);
            position: absolute;
            left: 0;
            bottom: var(--base-margin);
            width: 100%;

            li {
                cursor: pointer;
                margin: 0;
                margin-top: 10px;

                i {
                    margin: 0;
                }
            }

            #next-page,
            #previous-page {
                font-size: 30px;
                @include transition();
            }

            #next-page.disabled, #previous-page.disabled {
                visibility: hidden;
                pointer-events: none;
                opacity: 0;
            }

            @keyframes bounce {

                0%,
                100% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(-5px);
                }
            }

            .bounce {
                animation-duration: 1s;
                animation-fill-mode: both;
                animation-timing-function: ease;
                animation-iteration-count: infinite;
                animation-name: bounce;
            }
        }
    }
}
