@import '../mixins.scss';

header-page {
    @include flex(column, center, center);
    background: repeating-linear-gradient(
        45deg,
        #075988,
        #075988 25%,
        #0972AE 25%,
        #0972AE 50%,
        var(--accent-color1) 50%,
        var(--accent-color1) 75%,
        #075988 75%,
        #075988 100%
    );
    animation: background-slide 15s ease-in-out infinite alternate;

    [data-theme="dark"] & {
        background: repeating-linear-gradient(
            45deg,
            #2E3138,
            #2E3138 25%,
            #57595F 25%,
            #57595F 50%,
            #494B51 50%,
            #494B51 75%,
            #2E3138 75%,
            #2E3138 100%
        );
    }

    header {

        border-left: 30px solid var(--accent-color2);
        padding-left: var(--base-margin);
        color: var(--white-text);


        h1 {
            font-size: var(--font-size-greeting);
            margin-bottom: 0;
        }

        h3 {
            color: var(--white-text);
        }

        p {
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-emphasize);
            margin-bottom: 0;
        }
    }
}

@keyframes background-slide {
    0% {
        background-position: 100% 0;
        background-size: 100vw 130vh;
    }
    100% {
        background-position: 0px 0px;
        background-size: 100% 100%;
    }
}
