@import '../mixins.scss';

header-page {
    @include flex(column, center, center);

    header {

        border-left: 30px solid var(--accent-color2);
        padding-left: var(--base-margin);

        h1 {
            font-size: var(--font-size-greeting);
            margin-bottom: 0;

        }

        p {
            color: var(--deemphasized);
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-emphasize);
            margin-bottom: 0;
        }
    }
}
