<footer class="footer-content">
    <section>
        <div class="links">
            <h2>Links
                <a href="mailto:alexmj212@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href="http://www.linkedin.com/profile/view?id=229742875" title="LinkedIn" target="_blank"><i
                        class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="http://www.github.com/alexmj212" title="GitHub: alexmj212" target="_blank"><i
                        class="fa fa-github" aria-hidden="true"></i></a>
            </h2>
        </div>
        <div class="date-location">
            <small>Alex Johnson - <a href="mailto:alexmj212@gmail.com">alexmj212@gmail.com</a> - Lexington, KY -
                <a href="tel:8596636843">859-663-6843</a>
            </small>
        </div>
    </section>
</footer>
