<header>
    <h1>
        <span>Alex Johnson</span>
    </h1>
    <aside>
        <!-- <div class="career-title"><span>Front-end Developer</span></div> -->
        <ul class="summary no-style">
            <li><a href="mailto:alexmj212@gmail.com" title="Email"><i
                        class="fas fa-envelope"></i></i>alexmj212@gmail.com</a></li>
            <li><i class="fas fa-map-marker-alt" title="Location"></i>Lexington, KY, USA</li>
            <li><a href="tel:8596636843" title="Phone"><i class="fas fa-phone-alt"></i>859-663-6843</a></li>
            <li><a href="https://www.linkedin.com/in/alex-johnson-077b3564/" title="LinkedIn" target="_blank">
                    <i class="fab fa-linkedin"></i>LinkedIn</a></li>
            <li><a href="http://www.github.com/alexmj212" title="GitHub" target="_blank"><i
                        class="fab fa-github"></i>GitHub</a></li>
        </ul>
    </aside>
</header>
