<section>
    <h2>Portfolio</h2>
    <p>
        I have led teams to create new systems and products from the ground up. I have developed mobile-focused responsive
        websites with multi-media features designed for multiple platforms. I also have experience with creating
        high-volume data pipelines and implementing graphical front-end components used in critical business functions.
    </p>
    <p>
        Here are just a few examples of my work.
    </p>
    <div id="portfolio" class="portfolio"></div>
</section>
