<section class="panel">
    <h2>What you need to know</h2>
    <p>
        I love making products that people can actually use. I adapt quickly to any environment and I am always willing
        to learn new techniques and tools that enhance my skills. For 7 years, I have worked with many kinds of
        front-end technologies to deliver great user experiences.
    </p>
    <p>
        My goal is to work on a team to create user-centric products for any audience. From internal
        adminstrative applications to features used by all audiences, I focus on every detail of design,
        usability, and experience.
    </p>
    <p>
        I have led teams to create new systems and products from the ground up. I have led initiatives to
        add major functionality to existing products. I have developed mobile-focused responsive
        websites with multi-media features designed for multiple platforms. I also have experience with creating
        high-volume data pipelines and implementing graphical front-end components used in critical business functions.
    </p>
    <p>
        My top priority with any project is communication. Communication is critical in all aspects of
        successful product life-cycles. A team that communicates well will always create a better
        product. A user knows when they have found a great product, and great products are made when
        teams are focused and enthusiastic about their work.
    </p>
    <h2>What I do for fun</h2>
    <ul>
        <li>Listen to Music</li>
        <li>Build PCs</li>
        <li>Watch Science Fiction</li>
        <li>Assemble Model Kits</li>
        <li>Work Out / Lift Weights</li>
    </ul>
</section>
