<article>
    <aside class="sidebar">
        <div class="career-title"><span>Front-end Software Engineer</span></div>
        <nav>
            <ul class="summary no-style">
                <li><a href="mailto:alexmj212@gmail.com" title="Email"><i
                            class="fas fa-envelope"></i></i>alexmj212@gmail.com</a></li>
                <li><i class="fas fa-map-marker-alt" title="Location"></i>Lexington, KY, USA</li>
                <li><a href="tel:8596636843" title="Phone"><i class="fas fa-phone-alt"></i>859-663-6843</a></li>
                <li><a href="https://www.linkedin.com/in/alex-johnson-077b3564/" title="LinkedIn"
                        target="_blank">
                        <i class="fab fa-linkedin"></i>LinkedIn</a></li>
                <li><a href="http://www.github.com/alexmj212" title="GitHub" target="_blank"><i
                            class="fab fa-github"></i>GitHub</a></li>
            </ul>
        </nav>
        <section class="panel">
            <h2><span>Summary</span>
                <div class="fill"></div>
            </h2>
            <ul>
                <li>7 years of experience with front-end technologies and UX implementation</li>
                <li>Focused on delivering mobile-first web products</li>
                <li>Knowledge of back-end architecture and database structures</li>
            </ul>
        </section>
        <section class="panel">
            <h2><span>Education</span>
                <div class="fill"></div>
            </h2>
            <div class="title-company">
                <h3>B.S. in Computer Science</h3>
                <h4>University of Kentucky <img class="uk" src="dist/img/UK.png" /></h4>
            </div>
        </section>
        <section class="panel">
            <h2><span>Interests</span>
                <div class="fill"></div>
            </h2>
            <ul>
                <li>Listening to Music</li>
                <li>Building PCs</li>
                <li>Science Fiction</li>
                <li>Assembling Model Kits</li>
                <li>Working Out / Weight Lifting</li>
            </ul>
        </section>
    </aside>
    <div class="resume">
        <section class="panel">
            <h2><span>Profile</span>
                <div class="fill"></div>
            </h2>
            <p>Hey, my name is Alex Johnson. I love making products that people can actually use. I adapt
                quickly to any environment and I am always willing to learn new
                techniques and tools that enhance my skills as well as provide value to users.</p>
            <p>My goal is to work on a team to create user-centric products for any audience. From internal
                adminstrative applications to features used by everyone, I focus on every detail of design,
                usability, and experience.</p>
            <p>I have led teams to create new systems and products from the ground up. I have led initiatives to
                add major functionality to existing products. I have developed mobile-focused responsive
                websites with multi-media features designed for multiple platforms. I also have experience with
                high-volume data pipelines and graphical front-end components used to analyze that data.</p>
            <p>My top priority with any project is communication. Communication is critical in all aspects of
                successful product life-cycles. A team that communicates well will always create a better
                product. A user knows when they have found a great product, and great products are made when
                teams are focused and enthusiastic about their work.</p>
        </section>
        <section class="panel">
            <h2><span>Experience</span>
                <div class="fill"></div>
            </h2>
            <div class="experience">
                <div class="date-location">
                    Now<br>2017
                </div>
                <div class="information">
                    <div class="title-company">
                        <h3>Software Engineer</h3>
                        <h4>TwinSpires.com</h4>
                    </div>
                    <ul class="summary">
                        <li>Work on several delivery teams for various web-based products</li>
                        <li>Facilitate inter-team communication and encourage best practices</li>
                        <li>Support for legacy products and administrative applications</li>
                    </ul>
                    <div class="more-info">
                        <div class="projects">
                            <div class="project-name">Responsive Implementation of TwinSpires.com</div>
                            <ul class="no-style">
                                <li>This project was a great opportunity to exercise most of my strengths
                                    with front end development. I really enjoyed working with the
                                    feature focused-team and coming together to complete a major project.
                                    Mobile-focused projects more prevalent not just at TwinSpires but in the
                                    industry as a whole.
                                </li>
                            </ul>
                            <div class="project-name">TwinSpires.com Video Features</div>
                            <ul class="no-style">
                                <li>This vital feature required a intensve focus to properly to deliver
                                    for customers. I mastered the complexity around video display in desktop
                                    and
                                    mobile focused applications. Successful delivery of this project is a
                                    great personal achievement for myself and for TwinSpires.com
                                </li>
                            </ul>
                            <div class="project-name">Historical Horse Racing Results</div>
                            <ul class="no-style">
                                <li>I assisted my team in delivering a full-stack feature using Amazon
                                    Lambdas.
                                    This feature used existing static data and a new data-digestion system
                                    to
                                    produce
                                    historical results for customers delivered via a responsive front-end
                                    component.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="experience">
                <div class="date-location">2017<br>2014</div>
                <div class="information">
                    <div class="title-company">
                        <h3>Software Engineer</h3>
                        <h4>The Jockey Club Technology Services</h4>
                    </div>
                    <ul class="summary">
                        <li>Created and deployed user interfaces and server infrastructure</li>
                        <li>Lead the management of remote resources to achieve project goals</li>
                        <li>Communicated proactively among team members and clients</li>
                        <li>Supported and maintained existing applications and infrastructure</li>
                    </ul>
                    <div class="more-info">
                        <div class="projects">
                            <div class="project-name">Thoroughbred Racing Protective Bureau
                            </div>
                            <ul class="no-style">
                                <li>Betting Transaction Reporting and Mathematical Modeling</li>
                                <li>Organizational System for Data Accountability</li>
                                <li>Extraction, Transformation, Loading of Transactional Betting Data</li>
                            </ul>
                            <div class="project-name">Turnberry Ranking System</div>
                            <ul class="no-style">
                                <li>Mathematical Modeling for International Rankings of Thoroughbreds</li>
                            </ul>
                            <div class="project-name">Horse Racing Officials Accreditation Program</div>
                            <ul class="no-style">
                                <li>Education and Personnel Management System for Stewardship Accreditation
                                </li>
                            </ul>
                            <div class="project-name">Welfare and Safety of the Horse Summit (NARA/BCTC)
                            </div>
                            <ul class="no-style">
                                <li>Education and Course System for Attaining Training Certifications</li>
                            </ul>
                            <div class="project-name">Thoroughbred Racing Commentary</div>
                            <ul class="no-style">
                                <li>Outreach and Commentary Blog on Worldwide Thoroughbred Topics</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="experience">
                <div class="date-location">2014<br>2013</div>
                <div class="information">
                    <div class="title-company">
                        <h3>System Administrator</h3>
                        <h4>iEntry, Inc.</h4>
                    </div>
                    <ul class="summary">
                        <li>Developed critical data and server infrastructure software</li>
                        <li>Implemented marketing tools to identify subscriber
                            audience
                        </li>
                    </ul>
                </div>
            </div>
            <div class="experience">
                <div class="date-location">2013</div>
                <div class="information">
                    <div class="title-company">
                        <h3>Graduated</h3>
                        <h4>University of Kentucky</h4>
                    </div>
                </div>
            </div>
            <div class="experience">
                <div class="date-location">2013<br>2011</div>
                <div class="information">
                    <div class="title-company">
                        <h3>Technical Desktop Support</h3>
                        <h4>College of Arts and Sciences - University of Kentucky</h4>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <aside class="sidebar">
        <section class="panel">
            <h2><span>Skills</span>
                <div class="fill"></div>
            </h2>
            <div class="tools">
                <ul class="no-style"></ul>
            </div>
        </section>
    </aside>
</article>
