<aside class="sidebar">
    <h1 class="name">
        Alex Johnson
    </h1>
    <div class="career-title">Front-end Software Engineer</div>
    <nav>
        <ul class="summary">
            <li><a href="mailto:alexmj212@gmail.com" title="Email"><i class="fas fa-envelope"></i></i>alexmj212@gmail.com</a></li>
            <li><i class="fas fa-map-marker-alt" title="Location"></i>Lexington, KY</li>
            <li><a href="tel:8596636843" title="Phone"><i class="fas fa-phone-alt"></i>859-663-6843</a></li>
            <li><a href="https://www.linkedin.com/in/alex-johnson-077b3564/" title="LinkedIn" target="_blank">
                <i class="fab fa-linkedin"></i>LinkedIn</a></li>
            <li><a href="http://www.github.com/alexmj212" title="GitHub" target="_blank"><i class="fas fa-code-branch"></i>GitHub</a></li>
        </ul>
    </nav>
    <!-- <section class="panel">
        <h2>Summary<div class="fill"></div>
        </h2>
        <ul>
            <li>7 years experience with front-end and back-end technologies</li>
            <li>Experience with delivering mobile-focused web design and products</li>
            <li>Skilled communicator that excels in an engaging environment</li>
        </ul>
    </section> -->
    <section class="panel">
        <h2>Education<div class="fill"></div>
        </h2>
        <div class="title-company">
            <h3>B.S. in Computer Science</h3>
            <h4>University of Kentucky <img class="uk" src="dist/img/UK.png" /></h4>
        </div>
    </section>
    <section class="panel">
        <h2>Toolbox<div class="fill"></div>
        </h2>
        <div class="tools">
            <ul></ul>
        </div>
    </section>
</aside>
