body,
html {
  height: 100%;
}
body,
html,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
body {
  display: none;
  font-family: 'Roboto', sans-serif;
  background-color: #aaa;
}
main {
  background-color: #fff;
  max-width: 935px;
  margin: 35px auto;
  border-left: 35px solid #555;
  box-shadow: #555 0px 0px 15px;
  border-radius: 3px;
}
ul {
  padding-left: 50px;
}
h1 {
  font-weight: 300;
  color: #aaa;
  text-transform: uppercase;
}
h2 {
  font-weight: 400;
}
p {
  padding-bottom: 1em;
}
a {
  color: #37c;
  text-decoration: underline;
  font-weight: 700;
}
b {
  font-weight: 400;
  color: #37c;
}
small {
  color: #aaa;
}
.header-content,
.body-content,
.footer-content {
  line-height: 1.75;
  margin: 0px auto;
  font-weight: 300;
}
.header-content {
  padding-top: 35px;
}
.cover {
  display: none;
}
.links {
  display: flex;
  flex-direction: row;
}
.links a,
.links a:hover,
.links a:visited {
  color: #37c;
  font-size: 1em;
  text-align: center;
  flex-grow: 1;
}
section {
  border-top: 1px solid #ddd;
  margin: 0px 35px;
  padding-bottom: 35px;
}
#effect {
  margin-left: -35px;
  overflow: hidden;
  text-align: center;
  word-wrap: break-word;
  width: 35px;
  height: 100%;
  float: left;
  font-family: mono, serif;
  font-weight: 300;
  font-size: 10px;
  color: #aaa;
  line-height: 1;
}
.name {
  text-align: center;
  letter-spacing: 6px;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px #aaa;
  font-size: 90px;
  line-height: 1em;
}
.subtext {
  text-align: center;
}
.description {
  text-align: center;
}
.uk {
  height: 1.5em;
  vertical-align: middle;
}
.split-column {
  display: flex;
  flex-direction: row;
}
.projects {
  padding: 0px 50px;
}
.title-company {
  flex: 1;
}
.date-location {
  flex: 1;
  text-align: right;
  color: #aaa;
  font-size: 1em;
  line-height: 1.5em;
}
.experience {
  padding-bottom: 10px;
}
.fun h2 {
  text-align: center;
}
