body, html {
	height:100%;
}

body, html, ul, li, h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0;
}

body {
    line-height:1.75;
	display:none;
}

ul {
	padding-left:25px;
}

h1 {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	width:100%;
}

h2 {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
	width:100%;
}

a {
	color:#37c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

b {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 700;
}

#header {
	width:100%;
	padding:0px 0px;
	text-align: center;
}

.header-content, .body-content, .footer-content {
	padding: 0px 50px;
	max-width:900px;
	margin: auto;
	font-size: 30px;
}

.header-content, .body-content {
	width:100%;
	margin:auto;
	font-family: Roboto, Arial, sans-serif;
	font-weight:300;
}

#effect {
	position:fixed;
	overflow:hidden;
	text-align: center;
	word-wrap:break-word;
	background-color:#555;
	width:35px;
	height:100%;
	float:left;
	font-family: Lucida Console, Courier New, mono, serif;
	color:#aaa;
}

.name {
	text-align:center;
	float:left;
	width:100%;
	font-weight: 700;
	font-family: Roboto, Arial, sans-serif;
	text-transform: uppercase;
	text-shadow:2px 2px 0px #ddd;
	font-size: 80px;
}

.subtext {
	text-align: center;
}

.description {
	text-align: center;
}

.body-table {
	border-collapse: collapse;
}

#slidein {
	/*background-color: #aaa;*/
	border-top:1px solid #ddd;
}

.left {
	padding:5px 0px 0px 0px;
	display:block;
	float:left;
	width:100%;
	text-align:center;
}

.left h1 {
	color:#aaa;
	font-family: Roboto, Arial, sans-serif;
	font-weight:300;
	text-transform: uppercase;

}

.right {
	display:block;
	float:right;
	width:100%;
}

.date-location {
	float:right;
	text-align:right;
	font-weight:bold;
}

.tech-column {
    display:flex;
    width:100%;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tech-column ul {
    width:100%;
}

.tech-column h2 {
	/*border-bottom:1px solid #ddd;*/
	font-family: Roboto, Arial, sans-serif;
	font-weight:700;
	margin-bottom:5px;
}

.experience {
	padding-bottom: 10px;
}

.experience ul {
	padding-bottom:10px;
}
