/*
  * Alex Johnson - resume.less
  * 8/4/2016
  */
body,
html {
  height: 100%;
}
body,
html,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
body {
  display: none;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  background-color: #aaa;
}
main {
  background-color: #fff;
  max-width: 935px;
  margin: 35px auto;
  border-left: 35px solid #555;
  box-shadow: #555 0px 0px 15px;
  border-radius: 3px;
}
@media (max-width: 935px) {
  main {
    margin: 35px 15px;
  }
}
@media (max-width: 450px) {
  main {
    border-left: 0px;
    margin: 0;
  }
}
ul {
  padding-left: 50px;
}
@media (max-width: 450px) {
  ul {
    padding-left: 25px;
  }
}
h1 {
  font-weight: 300;
  color: #aaa;
  text-transform: uppercase;
  font-family: 'Roboto', serif;
}
h2 {
  font-weight: 400;
  font-family: 'Roboto', serif;
}
p {
  padding-bottom: 1em;
  text-align: justify;
}
a {
  color: #37c;
  text-decoration: none;
  font-weight: 700;
}
a:hover {
  text-decoration: underline;
}
a.active,
a.active:hover {
  cursor: default;
  text-decoration: none;
  color: #000;
}
b {
  font-weight: 400;
  color: #37c;
}
small {
  color: #aaa;
  font-family: 'Roboto', sans-serif;
}
small a {
  font-weight: 400;
  color: #aaa;
}
.header-content,
.body-content,
.footer-content {
  line-height: 1.75;
  margin: 0px auto;
  font-weight: 300;
}
.header-content {
  padding-top: 35px;
}
.cover {
  display: none;
}
.prequels {
  display: none;
}
.links {
  display: flex;
  flex-direction: row;
}
.links a,
.links a:hover,
.links a:visited {
  color: #37c;
  font-size: 1em;
  text-align: center;
  flex-grow: 1;
}
section {
  border-top: 1px solid #ddd;
  margin: 0px 35px;
  padding-bottom: 35px;
}
@media (max-width: 450px) {
  section {
    margin: 0px 15px;
  }
}
#effect {
  margin-left: -35px;
  overflow: hidden;
  text-align: center;
  word-wrap: break-word;
  width: 35px;
  height: 100%;
  float: left;
  font-family: mono, serif;
  font-weight: 300;
  font-size: 10px;
  color: #aaa;
  line-height: 1;
}
@media (max-width: 450px) {
  #effect {
    display: none;
  }
}
.name {
  text-align: center;
  letter-spacing: -4px;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px #aaa;
  font-size: 90px;
  line-height: 1em;
}
@media (max-width: 450px) {
  .name {
    font-size: 2.5em;
    letter-spacing: normal;
  }
}
.subtext {
  text-align: center;
}
.description {
  text-align: center;
}
.uk {
  height: 1.5em;
  vertical-align: middle;
}
.split-column {
  display: flex;
  flex-direction: row;
}
@media (max-width: 450px) {
  .split-column {
    display: block;
  }
}
.projects {
  padding: 0px 50px;
}
@media (max-width: 450px) {
  .projects {
    padding: 0px 15px;
  }
}
.title-company {
  flex: 1;
}
.date-location {
  flex: 1;
  text-align: right;
  color: #aaa;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}
@media (max-width: 450px) {
  .date-location {
    text-align: left;
  }
}
.experience {
  padding-bottom: 10px;
}
.fun h2 {
  text-align: center;
}
