@media (max-width: 1024px) {
    main {
        article {
            max-width: 100%;
            width: 100%;

            section {
                padding: 0 var(--base-margin);
            }

            .experience-timeline {
                display: none;
            }

            #experience-list {
                display: block;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 767px),
(max-height: 767px) {
    main {

        .theme-switch {
            display: none;
        }

        article {

            header {
                padding-left: 10px;

                h1 {
                    font-size: var(--font-size-huge);
                }

                p {
                    font-size: var(--font-size-normal);
                }
            }

            skills-page .tools ul li {
                flex: 0 0 100%;

                .tool {
                    @include flex(row, center, center);
                    flex-direction: row;
                    padding-left: 0;

                    i {
                        flex: 0 0 40%;
                        margin-bottom: 0;
                    }
                }
            }

            .page {
                animation: none;

                .panel {
                    .image-container {
                        @include flex(row, center, center);
                        width: 100%;

                        .float-right {
                            float: none;
                            margin-left: 0;
                            margin-bottom: 50px;
                        }
                    }
                }
            }
        }

        sidebar-element aside {

            padding: 10px 15px;

            .summary {
                width: 100%;
                @include flex(row, flex-end, center);
                flex: 0 auto;
                overflow: hidden;

                li {
                    margin: 0;

                    a {
                        text-decoration: underline;

                        i {
                            width: 35px;
                            z-index: 2;
                            margin: 0 5px;
                            font-size: 35px;
                        }
                    }
                }
            }

            .navigation {
                display: none;
            }

            .paginator {
                display: none;
            }

            @media (orientation: landscape) {
                &.is-open {
                    width: 40%;
                }

                .paginator {
                    display: none;
                }
            }
        }


    }

    .modal {
        &-container {
            height: 100%;
            justify-content: flex-start;
        }

        &-header-container {
            @include flex(row, center, center);
            width: 100%;

            .modal-header {
                padding-left: var(--base-margin);
                flex: 1;
            }

            .modal-close {
                margin-right: var(--base-margin);
                position: relative;
                top: inherit;
                right: inherit;
                flex: 0 0 20%;
            }
        }
    }

    .portfolio {
        &-item {
            flex: 1 1 100%;
            max-width: 100%;

            &-container {
                flex-direction: column !important;
            }

            &-image {
                border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
                width: -webkit-fill-available;
                width: -moz-fill-available;
                min-height: inherit;

                img {
                    max-width: 250px;
                }
            }

            &-description {
                @include flex(column, center, center);

                ul.badges {
                    justify-content: center;
                }
            }
        }
    }
}
