@media print {

    :root {
        --base-margin: 10px;
        --font-size-base: 80%;
    }

    h3 {
        color: var(--base-color);
    }

    ul {
        padding-left: 30px;
        break-inside: avoid;
    }

    sidebar-element {
        display: none;
    }

    main {

        padding: 20px 0;

        article {

            .page {

                h2 {
                    font-size: var(--font-size-medium);
                    border-left: 0.5em solid var(--accent-color2);
                    padding-left: 5px;
                    margin-top: 20px;
                }

                h3 {
                    margin-bottom: 5px;
                    color: var(--base-color);
                }

                section {
                    width: 100%;
                }

                &:first-child {
                    min-height: auto;
                    padding: 0px 10px;

                    h1,
                    p {
                        color: var(--base-color) !important;
                    }
                }

                &:not(:first-child) {
                    padding: 0;
                }

                &:nth-child(even) {
                    background: none !important;
                }

                .panel .image-container {
                    display: none;
                }
            }

            header-page.page {
                background: none;

                header {
                    padding-left: 0;
                    @include flex(row, center, center);

                    .contact {
                        flex: 1 0 30%;
                        display: block;
                        border-left: 0.5em solid var(--accent-color2);

                        ul {
                            list-style: none;
                            margin: 0;
                            margin-left: 10px;
                            padding-left: 10px;

                            li {
                                a {
                                    color: var(--link-hover-color);
                                    font-size: var(--font-size-small);
                                }

                                i {
                                    font-size: var(--font-size-emphasize);
                                    width: 20px;
                                }
                            }
                        }
                    }

                    h3 {
                        display: none;
                    }
                }
            }

            profile-page.page {

                h2 {
                    color: var(--base-color);
                }

                p {
                    color: var(--base-color);

                    &:first-of-type {
                        display: none;
                    }
                }
            }

            portfolio-page.page {
                display: none;
            }

            education-page.page {
                h3 img {
                    display: none;
                }

                h4 {
                    margin-bottom: 10px;
                }
            }

            skills-page .tools ul li {
                flex: 0 0 30%;

                .tool {
                    @include flex(row, flex-start, flex-start);
                    margin: 0;
                    margin-bottom: 10px;
                    padding: 5px 0;
                    background: none;
                    padding-left: 0;

                    i {
                        flex: 0 0 20%;
                        font-size: var(--font-size-medium);
                        margin: 0;
                    }

                    .description {
                        h3 {
                            font-size: var(--font-size-normal);
                        }

                        p {
                            line-height: 1.5em;
                        }
                    }
                }
            }

            resume-page {

                .references {
                    break-inside: avoid;
                    display: block;
                }

                .experience-timeline {
                    display: none;
                }

                #experience-list {
                    width: 100%;
                    display: block;
                    overflow: hidden;

                    .experience {

                        .date-location {
                            margin-bottom: 0;
                        }

                        .information {
                            h4 {
                                margin-bottom: 10px;
                            }

                            margin-bottom: 10px;
                        }

                        .summary {
                            margin: 0;
                            margin-bottom: 10px;
                        }

                        .projects {

                            .project-header {
                                margin-bottom: 5px;
                            }

                            ul {
                                margin: 0;

                                li {
                                    margin-bottom: -10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .badge {
            margin-right: 0;
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 5px;
            font-weight: normal;
            line-height: 1em;
            margin-top: -15px;
            background: none;
            opacity: 0.6;
        }
    }

    .hero-button {
        display: none;
    }
}
