
$base-margin: 30px;
$ruby-red: hsla(355, 76%, 36%, 1);
$timberwolf: hsla(22, 14%, 84%, 1);
$cultured: hsla(210, 12%, 97%, 1);
$purple-navy: #6C7A89;
$cadet-gray: #818F9C;
$carolina-blue: hsla(202, 90%, 44%, 1);
$russian-green: hsla(128, 26%, 48%, 1);
$royal-blue-dark: hsla(225, 76%, 18%, 1);
$space-cadet: hsla(226, 47%, 20%, 1);
$dark-mode-bg: hsla(228, 10%, 19%, 1);
$gunmetal: hsl(204, 10%, 20%);

:root {

    color-scheme: light dark;

    --white-text: #{$cultured};

    --deemphasized: #{$cadet-gray};

    --base-color: #{$space-cadet};

    --border: rgba(0,0,0,0.1);

    --accent-color1: #{$carolina-blue};
    --accent-color2: #{$russian-green};
    --accent-color3: #{$ruby-red};

    --stripe-bg: rgba(0,0,0,0.05);

    --link-color: var(--accent-color1);
    --link-hover-color: #{lighten($carolina-blue, 20%)};

    --base-background-color: #{$cultured};

    &[data-theme="dark"] {

        --white-text: #{$timberwolf};

        --deemphasized: #{$cadet-gray};

        --base-color: #d3d3d3;

        --border: rgba(255,255,255,0.1);

        --accent-color1: #1C516F;
        --accent-color2: #52905a;
        --accent-color3: #77262d;

        --stripe-bg: rgba(255,255,255,0.05);

        --link-color: var(--accent-color1);
        --link-hover-color: #{lighten(#266e97, 20%)};

        --base-background-color: #{$dark-mode-bg};
    }

    --base-margin: #{$base-margin};

    --border-radius: 5px;

    --box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

    --font-weight-thicc: 900;
    --font-weight-bold: 700;
    --font-weight-normal: 500;
    --font-weight-light: 400;

    --font-size-greeting: 750%;
    --font-size-huge: 400%;
    --font-size-big: 200%;
    --font-size-medium: 150%;
    --font-size-emphasize: 125%;
    --font-size-normal: 1em;
    --font-size-small: 80%;

    --font-family-serif: "Teko", sans-serif;
    --font-family-sans: "Work Sans", sans-serif;
    --font-family-condensed: var(--font-family-sans);
    --font-family-header: var(--font-family-serif);

}
